.footer {
  margin-bottom: -50px;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  padding: 3rem;
  background-color: #371d58;
  color: white;
  height: auto;
  display: flex;
  flex-direction: column;
}

footer h1 {
  text-align: center;
  font-size: 1rem;
}

.footerContent {
  width: 50%;
  margin: auto;
}

.copyright {
  text-align: center;
  flex-direction: column;
  align-self: flex-end;
  font-size: 0.75rem;
  color: #5c85bb;
  white-space: nowrap;
  overflow: visible;
}

footer a:link {
  text-decoration: none;
  color: #5c85bb;
}

footer a:visited {
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: rgb(122, 159, 226);
}

footer a:active {
  text-decoration: underline;
}

.logosdiv {
  text-align: center;
  

}

.logosdiv ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logosdiv li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.logosdiv li > img {
  height: 30px;
  width: 30px;
  margin: 1rem 1rem;
}